body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    text-align: center;
}

.container {
    background: rgba(0,0,0,0.7);
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    margin: auto;
    margin-top: 50px;
}

input, select {
    padding: 10px;
    margin: 5px;
    width: 90%;
    border-radius: 5px;
    border: none;
}

button {
    background: #00c853;
    color: white;
    padding: 10px;
    border: none;
    width: 95%;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #00a844;
}
