<!DOCTYPE html>
<html>
<head>
    <title>Fitness Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="glass">
    <h1>🔥Fitness Planner</h1>

    <form action="/calculate" method="POST">
        <input type="text" name="name" placeholder="Your Name" required>
        <input type="number" name="weight" placeholder="Weight (kg)" required>
        <input type="number" name="height" placeholder="Height (cm)" required>

        <button type="submit">Generate Plan</button>
    </form>
</div>

</body>
</html>
